/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html, body { height: 100%; overflow: hidden; background: #eee; }
body { font: 14px Georgia, serif; }
#page-wrap { width: 1200px; padding: 0 0 0 15px; margin: 0 auto; overflow: hidden; height: 100%; }

.info-col { float: left; width: 132px; height: 100%; }
.info-col h2 { text-align: center; font-weight: normal; padding: 25px 0; }

.image { height: 100px; text-indent: -9999px; display: block; border-right: 1px solid white; }
.main-header {
  text-align: center, height: 100%
}


.RaptorReloaded { background: url(../images/RaptorReloaded.jpg) center center no-repeat; }
.Socket { background: url(../images/Socket.jpg) center center no-repeat; }
.RRadaptor { background: url(../images/RRadaptor.jpg) center center no-repeat; }
.cuff { background: url(../images/cuff.jpg) center center no-repeat; }
.ConeoMatic { background: url(../images/ConeOMatic.jpg) center center no-repeat; }
.FlatArm { background: url(../images/FlatArm.jpg) center center no-repeat; }
.FlatSocket { background: url(../images/FlatSocket.jpg) center center no-repeat; }
.SingleJoint { background: url(../images/SingleJoint.jpg) center center no-repeat; }
.MonetteSocket { background: url(../images/MonetteSocket.jpg) center center no-repeat; }

dl { }
dt { padding: 5px; background: #900; color: white; border-bottom: 1px solid white; border-right: 1px solid white; }
dd { position: absolute; left: -9999px; top: -9999px; width: 299px; background: #900; padding: 10px; color: white; border-right: 1px solid white; }

dt:nth-of-type(1) { background: #668B8B; }
dd:nth-of-type(1) { background: #668B8B; }

dt:nth-of-type(2) { background: #ff7d3e; }
dd:nth-of-type(2) { background: #ff7d3e; }

dt:nth-of-type(3) { background: #ffb03b; }
dd:nth-of-type(3) { background: #ffb03b; }

dt:nth-of-type(4) { background: #c2a25c; }
dd:nth-of-type(4) { background: #c2a25c; }

dt:nth-of-type(5) { background: #4c443c; }
dd:nth-of-type(5) { background: #4c443c; }

dt:nth-of-type(6) { background: #656b60; }
dd:nth-of-type(6) { background: #656b60; }

.curCol { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); z-index: 1; position: relative; }